@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.2s;
}
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #a1d9fa; 
  border-radius: 10px;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    110.22deg,
    #2f7ba6 -11.29%,
    #4bb9f8 49.06%,
    #a1d9fa 107.38%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
}

