.date-picker {
  background: transparent;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #9e9e9e;
  position: relative;
}
.react-datepicker {
  z-index: 100;
}
.date-picker:focus {
  outline: none;
}
